
@{
    ViewBag.Title = "DueDiligence";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ***** Breadcumb Area Start ***** -->
<div class="mosh-breadcumb-area" style="background-image: url(../../wwwroot/img/core-img/breadcumb.png);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="bradcumbContent">
                    <h2>Due Diligence</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Breadcumb Area End ***** -->
<section class="contact-area section_padding_100">
    <div class="container">
        <p>
            In Progress
        </p>
    </div>
</section>