
@{
    ViewBag.Title = "Training";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- ***** Breadcumb Area Start ***** -->
<div class="mosh-breadcumb-area" style="background-image: url(../../wwwroot/img/core-img/breadcumb.png);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="bradcumbContent">
                    <h2>Training and Seminar</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Breadcumb Area End ***** -->
<!-- ***** Portfolio Area Start ***** -->
<section class="mosh-portfolio-area section_padding_100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="mosh-projects-menu">
                    <div class="portfolio-menu" style="text-align:center">
                        <p> <a href="#cs">Cyber Security</a> </p>
                        <p> <a href="#ra">Ransomware</a> </p>
                        <p> <a href="#as">Active Shooter</a> </p>
                        <p> <a href="#wss">Women's safety and Security</a> </p>
                        <p> <a href="#bp">Brand Protection</a> </p>
                        <p> <a href="#up">Upcoming Events</a> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Trainin Content Start -->
    <div class="container">
        <section>
            <div class="row align-items-center" id="cs">
                <div class="col-md-6">
                    <h2>CYBER SECURITY</h2>
                    <p style="text-align:justify">
                        Breach of information systems security is an established reality for most companies in the world. With all information and transactions online, companies struggle to find a balance between enabling business and erecting security barriers. In such an environment, it is not enough to have just the IT security team aware of threats and countermeasures; it is incumbent on  all employees to contribute to a higher security posture for the organisation, through correct process and due diligence. A basic cyber security workshop helps in building awareness, understanding data security measures, tips and tricks of the trade and how to respond to such threats.
                    </p>
                </div>
                <div class="col-md-6">
                    <img src="~/wwwroot/img/myimages/cybertraining1.jpg" alt="">
                </div>
            </div>
        </section>
        <section>
            <div class="row align-items-center" id="ra">
                <div class="col-md-6">
                    <img src="~/wwwroot/img/myimages/ransomtraining.png" alt="">
                </div>
                <div class="col-md-6">
                    <h2>RANSOMWARE</h2>
                    <p style="text-align:justify">
                        Ransomware is computer malware that installs covertly on a victim's computer, executes a code that effectively encrypts the contents of the computer, and demands a ransom payment to decrypt it or sometimes, not publish sensitive information on the computer. Thus, ransomware is a denial-of-access attack that prevents computer users from accessing files since it is not possible to decrypt files without the requisite key. The workshop on ransomware educates students on cause and prevention, types of attacks, their impacts and response and also elucidates the technology link between Bitcoins and Ransomware.
                    </p>
                </div>
            </div>
        </section>
        <section>
            <div class="row align-items-center" id="as" style="padding-top:50px">
                <div class="col-md-6">
                    <h2>ACTIVE SHOOTER</h2>
                    <p style="text-align:justify">
                        Active shooting and lone wolf terrorism is an increasing epidemic. Every year, world over, thousands of people die or get injured due to active shooter events. The United States Department of Homeland Security defines an ‘active shooter’ as an individual actively engaged in killing or attempting to kill people in a conﬁned and populated area.
                        The Active Shooter Workshop increases awareness of such incidents and their response, to prepare effective strategies for emergencies and improving coordination with law enforcement, both of which could make the difference between life and death. The training also helps understand and prepare for the aftermath of such an incident.

                    </p>
                </div>
                <div class="col-md-6">
                    <img src="~/wwwroot/img/myimages/activetraining1.png" alt="">
                </div>
            </div>
        </section>
        <section>
            <div id="wss" style="padding-top:50px">
                <div class="row align-items-center">
                    <div class="col-md-4">
                        <img src="~/wwwroot/img/myimages/womentraining.png" alt="">
                    </div>
                    <div class="col-md-8">
                        <h2>WOMEN'S SAFETY AND SECURITY</h2>
                        <p style="text-align:justify">
                            As India races towards becoming an economic superpower, the workplace has become a much more diverse environment. Women now represent 25% of the total workforce in India, their personal safety and security is becoming a central issue with corporate houses. To ensure maximum productivity at workplace, it is important to give preference to Gender Equality and a safe working environment for women.

                            <br>Physical Security focuses on the physical security of the women employees while they are on jobs or inside the workplace and in transit.
                            <br>Environmental Security compliments physical safety. It also focuses on gender equality and institutional policies like zero tolerance policy on sexual harassment at workplace.
                            <br>Organizational Security is creating a positive and hassle=free environment at the workplace where women feel secure and safe and are encouraged to put in their maximum effort with dignity and respect. It is the duty of the employees and the organization in general.
                            <br>Educational Security focuses on making women employees aware of the company’s policy on gender discrimination and sexual harassment. They should also be encouraged to report such instances without fear. Regular training on security and safety should be provided.

                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!--Training Content End -->
    <div id="bp" style="padding-top: 100px">
        <div class="container">
            <h2>BRAND PROTECTION</h2>
            <p>Brand Protection seminars are conducted on-site at various venues to make the clients aware about the fraud labels, laws and regulations. NSS has successfully conducted Brand Protection seminars at:</p>
        </div>
        <div class="container">
            <div style="margin-bottom:30px">
                <h4>THE TAJ DIPLOMATIC ENCLAVE</h4>
            </div>

            <div class="row">
                <!-- Single gallery Item Start -->
                <div class="col-md-3">
                    <img src="~/wwwroot/img/myimages/brandprotection/taj/img1.jpg" alt="">
                </div>
                <!-- Single gallery Item Start -->
                <div class="col-md-3">
                    <img src="~/wwwroot/img/myimages/brandprotection/taj/img2.jpg" alt="">
                </div>
                <!-- Single gallery Item Start -->
                <div class="col-md-3">
                    <img src="~/wwwroot/img/myimages/brandprotection/taj/img3.jpg" alt="">
                </div>
                <!-- Single gallery Item Start -->
                <div class="col-md-3">
                    <img src="~/wwwroot/img/myimages/brandprotection/taj/img4.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="container" style="padding-top:100px">
            <div style="padding-bottom:30px">
                <h4>HOTEL JAYPEE SIDDHARTH</h4>
            </div>

            <div class="row">
                <!-- Single gallery Item Start -->
                <div class="col-md-3">
                    <img src="~/wwwroot/img/myimages/brandprotection/training/img1.jpg" alt="">
                </div>
                <!-- Single gallery Item Start -->
                <div class="col-md-3">
                    <img src="~/wwwroot/img/myimages/brandprotection/training/img2.jpg" alt="">
                </div>
                <!-- Single gallery Item Start -->
                <div class="col-md-3">
                    <img src="~/wwwroot/img/myimages/brandprotection/training/img3.jpg" alt="">
                </div>
                <!-- Single gallery Item Start -->
                <div class="col-md-3">
                    <img src="~/wwwroot/img/myimages/brandprotection/training/img4.jpg" alt="">
                </div>
            </div>
            <div class="col-md-10 offset-1">
                <p style="text-align:justify; padding-top:50px">
                    It was a very informative and important session for my team; the team got a good exposure on above subject. The insight with practical demonstration shared by representatives of Pernod Ricard & Diageo was also great knowledge share for our concerned team.
                    <br>
                <p style="text-align:right">
                    -- Jaypee Siddharth
                </p>
                </p>
            </div>
            <div class="container" style="padding-top:50px">
                <div style="padding-bottom:30px">
                    <h4>Hotel Leela</h4>
                </div>

                <div class="row">
                    <!-- Single gallery Item Start -->
                    <div class="col-md-3">
                        <img src="~/wwwroot/img/myimages/brandprotection/itc_maurya/img1.jpg" alt="">
                    </div>
                    <!-- Single gallery Item Start -->
                    <div class="col-md-3">
                        <img src="~/wwwroot/img/myimages/brandprotection/itc_maurya/img2.jpg" alt="">
                    </div>
                    <!-- Single gallery Item Start -->
                    <div class="col-md-3">
                        <img src="~/wwwroot/img/myimages/brandprotection/itc_maurya/img3.jpg" alt="">
                    </div>
                    <!-- Single gallery Item Start -->
                    <div class="col-md-3">
                        <img src="~/wwwroot/img/myimages/brandprotection/itc_maurya/img4.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="container" style="padding-top:80px; padding-bottom:30px">
                <div style="padding-bottom:30px">
                    <h4>ITC Gardenia, Bangalore</h4>
                </div>

                <div class="row">
                    <!-- Single gallery Item Start -->
                    <div class="col-md-3">
                        <img src="~/wwwroot/img/myimages/brandprotection/itc_gardenia/img-1.jpg" alt="">
                    </div>
                    <!-- Single gallery Item Start -->
                    <div class="col-md-3">
                        <img src="~/wwwroot/img/myimages/brandprotection/itc_gardenia/img-2.jpg" alt="">
                    </div>
                    <!-- Single gallery Item Start -->
                    <div class="col-md-3">
                        <img src="~/wwwroot/img/myimages/brandprotection/itc_gardenia/img-3.jpg" alt="">
                    </div>
                    <!-- Single gallery Item Start -->
                    <div class="col-md-3">
                        <img src="~/wwwroot/img/myimages/brandprotection/itc_gardenia/img-4.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <!--Upcoming events-->
   <!--<div id="up" style="padding-top: 100px; padding-bottom:50px">
        <div class="container">
            <section>
                <div class="row align-items-center">
                    <h2>UPCOMING EVENTS</h2>
                    <div class="row">
                        <div class="col-md-4">
                            <img src="~/wwwroot/img/myimages/upcomig1.jpeg" class="img-responsive" alt="">
                        </div>
                        <div class="col-md-8">

                            <h3>IFSP Outreach Program</h3>
                            <br>
                            <h4>11th August, 2018</h4>
                            <br>
                            <p style="text-align:justify">
                                An International Federation of Spirits Producers (IFSP) outreach program in ITC Gardenia, Bangalore.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section> -->
<!-- ***** CTA Area Start ***** -->
<section class="mosh-call-to-action-area bg-img bg-overlay section_padding_100" style="background-image: url(../../wwwroot/img/bg-img/cta.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="cta-content text-center wow fadeIn" data-wow-delay="0.5s">
                    <div class="section-heading">
                        <p>give us a shout</p>
                        <h2>Are you Ready to have a Talk?</h2>
                        <a href="@Url.Action("Index","Contact")" class="btn mosh-btn">
                            Contact Us
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** CTA Area End ***** -->
<!-- ***** Portfolio Area End ***** -->
