@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- ***** Breadcumb Area Start ***** -->
<div class="mosh-breadcumb-area" style="background-image: url(../../wwwroot/img/core-img/breadcumb.png);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="bradcumbContent">
                    <h2>About Us</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Read Our History</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Breadcumb Area End ***** -->
<!-- ***** About Us Area Start ***** -->
<section class="mosh-aboutUs-area section_padding_100_0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
                <div class="mosh-about-us-content">
                    <div class="section-heading">
                        <h2 style="text-align:center">HISTORY</h2>
                    </div>
                    <p style="text-align:justify">
                        NSS is a Risk Management company protecting human information and physical infrastructure.
                        <br>
                        NSS offers a range of solutions spanning the entire risk spectrum including information security, risk assesment, protective services, social media monioring among others.
                        <br>
                        NSS has worked with sensitive Indian and international government agencies to develop National ICT security framework and policies.
                        <br>
                        NSS created India's Centre for Excellence in Information and Network Security (CINS), conceptualized and set up the Indian Computer Emergency Response Team (CERT-In), trained law enforcement officers, assisted police forces in matters of cyber crime and online fraud investigations. NSS has also handled key assignments for international governments & Fortune 500 companies. NSS is present in India, Malaysia, Singapore and UAE.
                    </p>
                </div>
            </div>
            @*<div class="col-12 col-md-6">
                    <div class="mosh-about-us-thumb wow fadeInUp" data-wow-delay="0.5s">
                        <img src="~/wwwroot/img/bg-img/headpiece.png" alt="">
                    </div>
                </div>*@
        </div>
    </div>
</section>
<!-- ***** About Us Area End ***** -->
<!-- ***** Features Area Start ***** -->
<section class="mosh-about-features-area section_padding_100">
    <div class="container">
        <div>
            <div class="mosh-about-us-content">

                <div class="row align-items-center">
                    <div class="col-12 col-md-7">
                        <img src="~/wwwroot/img/myimages/mapmap.jpg" alt="" style="display:block; width: 90%; margin-left: auto; margin-right: auto">
                        <h5 style="text-align: center">NSS ACROSS THE GLOBE</h5>
                    </div>
                    <div class="col-12 col-md-5">
                        <div class="section-heading">
                            <h2>CLIENT</h2>
                        </div>
                        <p style="text-align:justify">
                            NSS has a strong client base in over 15 countries catering to both private and public sectors.
                            <br>
                            We provide customized solutions to industries in various fields of expertise, Financial Services, Pharmaceuticals, Manufacturing, Healthcare, Telecommunication, National Security, Government and Technology clients.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- ***** Features Area End ***** -->
<!-- ***** Few Words Area Start ***** -->
<div class="container" style="margin-top: 100px">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10">
            <div class="section-heading text-center">
                <h2>Meet Our Incredible Team</h2>
                <h5 class="mt-30">NSS Founders and Management team comprises of professionals who have an impeccable record of leading from the front.</h5>
            </div>
        </div>
    </div>
</div>
<section class="few-words-from-ceo d-md-flex">
    <div class="few-words-contents d-flex align-items-center justify-content-center wow fadeInLeftBig" data-wow-delay="0.1s">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="few-words-text">
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-md-3">
                                        <!-- Single Team Slide -->
                                        <!-- Meta Info -->
                                        <a href="#" class="trigger" style="text-decoration:none">
                                            <div class="team-meta-info" style="text-align: center">
                                                <h4 style="color:azure">Jagdeep Kairon</h4>
                                                <span>CEO</span>
                                                <!--how to center align text withot using offset (ask Parth)-->
                                                <p class="col-md-12" style="text-align:justify">A former special forces veteran, he has 30 years’ experience in risk and security management and has been decorated for gallantry in counter-terrorist operations.. Jagdeep is an expert in anti-terror and disaster mitigation planning and advisory.</p>
                                            </div>
                                        </a>
                                        @*<div class="modal">
                                                <div class="modal-content">
                                                    <span class="close-button">&times;</span>
                                                    <p>Jag is an alumni of the Computer Security Institute, San Francisco and University of New Haven, USA. He has advised over 30 fortune 500 companies on information risk and threat mitigation. He is an MBA in International Business and is a Certified Fraud Examiner (CFE), Certified Information Systems Security Professional (CISSP) and a Certified Information Security Manager (CISM). He was in the core team which set up the Indian Computer Emergency Response Team (CERTInd) and the BRUCERT in Brunei.</p>
                                                </div>
                                            </div>*@
                                        <!-- Social Info -->
                                        <div class="team-social-info" style="text-align: center">
                                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <!-- Meta Info -->
                                        <div class="team-meta-info" style="text-align: center">
                                            <h4 style="color:azure">Rajendra Dave</h4>
                                            <span>Shareholder</span>
                                            <p class="col-md-12" style="text-align:justify">With a background in the Army, Dave has 30 years of experience in risk management and has spent 17 years in information security and assurance, personnel and physical security. He was also the company’s chief strategist for mobile security development.</p>
                                        </div>
                                        <!-- Social Info -->
                                        <div class="team-social-info" style="text-align: center">
                                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <!-- Meta Info -->
                                        <div class="team-meta-info" style="text-align: center">
                                            <h4 style="color:azure">Deepti Sharma</h4>
                                            <span>Director</span>
                                            <p class="col-md-12" style="text-align:justify">Deepti is MBA and has vast experience in operations and trainings and has worked with the International and National Sports Federations and Consulting companies. She also has experience in physical security and risk mitigation practices.</p>
                                        </div>
                                        <!-- Social Info -->
                                        <div class="team-social-info" style="text-align: center">
                                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <!-- Meta Info -->
                                        <div class="team-meta-info" style="text-align: center">
                                            <h4 style="color:azure">Raj Kular</h4>
                                            <span>Director</span>
                                            <p class="col-md-12" style="text-align:justify">Deepti is MBA and has vast experience in operations and trainings and has worked with the International and National Sports Federations and Consulting companies. She also has experience in physical security and risk mitigation practices.</p>
                                        </div>
                                        <!-- Social Info -->
                                        <div class="team-social-info" style="text-align: center">
                                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- </div> -->
</section>
<!-- ***** Few Words Area End ***** -->
<!-- ***** Team Area Start ***** -->
<section class="mosh-team-area section_padding_100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="mosh-team-slides owl-carousel">
                    <!-- Single Team Slide -->
                    <!-- Single Team Slide -->
                    <div class="single-team-slide text-center">
                        <!-- Meta Info -->
                        <div class="team-meta-info">
                            <h4>Shaurya Saxena</h4>
                            <span>Manager<br>Cyber Security Practices</span>
                        </div>
                        <!-- Social Info -->
                        <div class="team-social-info">
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>

                        </div>
                    </div>
                    <!-- Single Team Slide -->
                    <div class="single-team-slide text-center">
                        <!-- Meta Info -->
                        <div class="team-meta-info">
                            <h4>Priyanka Bhardwaj</h4>
                            <span>Resource Manager</span>
                        </div>
                        <!-- Social Info -->
                        <div class="team-social-info">
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>

                        </div>
                    </div>
                    <!-- Single Team Slide -->
                    <div class="single-team-slide text-center">
                        <!-- Meta Info -->
                        <div class="team-meta-info">
                            <h4>Anuradha Pandey</h4>
                            <span>Project Account Manager</span>
                        </div>
                        <!-- Social Info -->
                        <div class="team-social-info">
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>

                        </div>
                    </div> <!-- Single Team Slide -->
                    <div class="single-team-slide text-center">
                        <!-- Meta Info -->
                        <div class="team-meta-info">
                            <h4>Sanaya Minwalla</h4>
                            <span>Analyst</span>
                        </div>
                        <!-- Social Info -->
                        <div class="team-social-info">
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>

                        </div>
                    </div> <!-- Single Team Slide -->
                    <div class="single-team-slide text-center">
                        <!-- Meta Info -->
                        <div class="team-meta-info">
                            <h4>Tanya Jayant</h4>
                            <span>Technical Support Executive</span>
                        </div>
                        <!-- Social Info -->
                        <div class="team-social-info">
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>

                        </div>
                    </div> <div class="single-team-slide text-center">
                        <!-- Meta Info -->
                        <div class="team-meta-info">
                            <h4>Mahadev Salunkhe</h4>
                            <span>CA</span>
                        </div>
                        <!-- Social Info -->
                        <div class="team-social-info">
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>

                        </div>
                    </div>
                    <div class="single-team-slide text-center">
                        <!-- Meta Info -->
                        <div class="team-meta-info">
                            <h4>Vipin Shukla</h4>
                            <span>Accountant</span>
                        </div>
                        <!-- Social Info -->
                        <div class="team-social-info">
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Area Start ***** -->
<!-- ***** CTA Area Start ***** -->
<section class="mosh-call-to-action-area bg-img bg-overlay section_padding_100" style="background-image: url(../../wwwroot/img/bg-img/cta.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="cta-content text-center wow fadeIn" data-wow-delay="0.5s">
                    <div class="section-heading">
                        <p>give us a shout</p>
                        <h2>Are you Ready to have a Talk?</h2>
                        <a href="@Url.Action("Index","Contact")" class="btn mosh-btn">
                            Contact Us
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** CTA Area End ***** -->